/**框架CSS**/

body{ margin:0; padding:0; font-family:Arial; font-size:12px;color:#555555;background:#FFFFFF;}
ul,li{list-style:none;margin:0;padding:0;}
img{border:0;}
h2{font-size:14px;padding:10px 0;margin:0;}
h2 span{float:right;font-size:12px;font-weight:normal;}
h2 span a{color:#FF0000;text-decoration:underline;}
a {color:#336699;text-decoration:none;}

/*登陆*/
.ulogin{
width:500px;
background-color:#FFFFFF;
font-size: 12px;
margin:100px auto 0;
list-style:none;
padding:20px;
}
.ulogin .uinput{
width:150px;
}

/*导航*/
.tabnav {
padding:0px;
overflow:hidden;
border-bottom:1px solid #3266A0;
margin-bottom:20px;
}
.tabnav ul {
margin:0;
padding:0;
}
.tabnav ul li {
border-color:#3266A0 #3266A0 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px medium;
float:left;
margin-right:5px;
padding:5px 10px;
}
.tabnav .select {
background:none repeat scroll 0 0 #3A81C0;
}
.tabnav .select a {
color:#FFFFFF;
font-weight:bold;
}


/*中部*/
.midder{margin:0 auto;padding:10px;overflow:hidden;background:#FFFFFF;}
.midder table{border:1px solid #DDDDDD;width:100%;border-collapse:collapse;
border-spacing:0;} 
.midder table tr td{border-bottom:1px solid #DDDDDD;height:29px;line-height:29px;padding:0 20px;vertical-align:top;margin:0;
outline:0 none;}

.midder table tr.old td{font-weight:bold;background:none repeat scroll 0 0 #F6F6F6;}
.midder table tr.odd td{background:none repeat scroll 0 0 #FBFBFB;}

/*分页*/
.page {margin:0;text-align: left;padding:5px;}
.page a {
	border:#eee 1px solid; padding:2px 5px;margin: 2px; color: #336699;text-decoration: none
}
.page a:hover {
	border: #999 1px solid;
}
.page a:active {
	border: #999 1px solid; 
}
.page .current {
	border: #336699 1px solid; padding:2px 5px;font-weight: bold; margin: 2px; background-color: #336699;color:#FFFFFF;
}
.page .disabled {
	border: #eee 1px solid; padding:2px 5px; margin: 2px;color: #ddd;
}

/*theme*/
.theme{overflow:hidden;}
.theme ul{overflow:hidden;}
.theme ul li{float:left;padding:5px;overflow:hidden;}