/**框架CSS**/
body{ margin:0; padding:0; font-family:Verdana, sans-serif, 宋体;font-size:14px;color:#555555;background:#FFFFFF;}



.c9{color:#999999;}

.fs12{font-size: 12px;}



/*导航*/
.tabnav {
padding:0px;
overflow:hidden;
border-bottom:1px solid #3A81C0;
margin-bottom:20px;
}
.tabnav ul {
    list-style: none;
margin:0;
padding:0;
}
.tabnav ul li {
    list-style: none;
border:solid 1px #007bff;
float:left;
margin-right:5px;
padding:5px 10px;
font-size:14px;
border-bottom:none;
}



.tabnav .select {
background:#007bff;
}
.tabnav .select a {
color:#FFFFFF;
font-weight:bold;
}


/*中部*/
.midder{margin:0 auto;padding:10px;overflow:hidden;background:#FFFFFF;}



/*theme*/
.theme{overflow:hidden;}
.theme ul{overflow:hidden;}
.theme ul li{height:120px;float:left;padding:5px;overflow:hidden;}


/**/
.update{float:left;width:100%;}
.update h1{font-size:18px;}
.update .uptitle{font-weight: bold;}
.update .uplog{font-size:14px;background:#F8F8F8;padding:20px;border:solid 1px #EEEEEE;border-radius: 4px 4px 4px 4px;}
.update .uptime{padding:10px;font-size: 12px;}

