.upgrade{padding:0px 100px 0 100px;font-size:14px;}
.upgrade h1{padding:10px 0;}
.upgrade table{width:100%;}
.upgrade table th{text-align:right;border:solid 1px #DDDDDD;padding:5px 10px;}
.upgrade table td{border:solid 1px #DDDDDD;padding:5px 10px;}