/**框架CSS**/

.uinput{width:200px;padding: 3px 0 3px 0;font-size: 14px;}

.utext{width:300px;height:50;border-color: #999999 #E1E1E1 #E1E1E1 #999999;border-style: solid;border-width: 1px; padding: 3px 0 3px 0;font-size: 14px;}

.utable{}
.utable th{text-align:right;height:40px;}
.utable td{}
.blockquote {
    line-height: 1.3;
    margin: 0 0 10px;
    padding: 5px 8px;
}
.logintitle {
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 30px;
    padding: 0 5px 10px;
}
.logintitle h5 {
    background: none repeat scroll 0 0 transparent;
    color: #666666;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
	margin:0;
}

.midder table{} 
.midder table tr td{}

.midder table tr.old td{font-weight:bold;background:none repeat scroll 0 0 #F6F6F6;}
.midder table tr.odd td{background:none repeat scroll 0 0 #FBFBFB;}

.tb_list{padding:10px 0;}
.tb_list table{}
.tb_list table td{border-bottom:1px dashed #CCCCCC;height:30px;line-height:30px;}


/*内容*/

.qi_c_c{width:950px;overflow:hidden;display: block;}
.qi_c_cleft{float: left;padding-right: 40px;width: 590px;}
.qi_c_cright{float: right;width: 310px;}
.qi_c_cright .indent{ margin-bottom: 25px;line-height: 20px;}

/*豆瓣切换*/
.zbar {
    background: url("zbar.gif") no-repeat scroll 0 0 transparent;
    margin-bottom: 21px;
	display: block;
	overflow: hidden;
}

.zbar div {
    background: url("zbar.gif") no-repeat scroll right top transparent;
    float: left;
    margin-left: 5px;
    padding-left: 2px;
}

.zbar span.now {
    background: url("wztab.gif") no-repeat scroll right top transparent;
    display: block;
    float: left;
    margin: 0 5px;
    padding: 0 10px 0 0;
}
.zbar span.now span {
    background: url("wztab.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding: 6px 1px 5px 11px;
}
.zbar a {
    display: block;
    float: left;
    line-height: 14px;
    margin: 5px 5px 1px;
    padding: 3px 5px 2px;
    text-decoration: none;
}

/*table olt*/
.olt {
    margin-bottom: 3px;
    padding: 0;
    width: 100%;
	border: medium none;
    border-collapse: collapse;
    margin: 0;
	border-spacing: 0;
}
.olt td {
    border-bottom: 1px dashed #DDDDDD;
    padding: 3px 3px 3px 0;
}
/*右侧会员列表*/
.obu {
    display: inline;
    float: left;
    margin: 0 0 10px;
    width: 76px;
}
.obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.obu dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.pl {
    color: #666666;
    font: 12px/150% Arial;
	padding:10px 0;
}

.pl2 {
    color: #666666;
    font: 14px/150% Arial;
}

/*表格*/
.biaoge{padding:30px 0 0 100px;}
.biaoge table{width:100%;}
.biaoge table th{font-weight:bold;}
.biaoge table td{padding:0px 0 10px 0;}

.clear{clear:both;font-size: 0;line-height: 0;}
/*小组简介介绍*/

.article {
    padding-right: 40px;
    width: 590px;
	overflow:hidden;
}

.infobox {
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
	padding:0;
}

.infobox .ex2, .infobox .ex1 {
    background: url("info_bg.png") no-repeat scroll 100% 0 transparent;
    clear: both;
    font-size: 0;
    height: 5px;
    line-height: 0;
    margin-left: 5px;
	padding:0;
}

.infobox .ex2 span, .infobox .ex1 span {
    background: url("info_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 5px;
    margin-left: -5px;
    overflow: hidden;
    position: relative;
    width: 5px;
}

.infobox .bd {
    background: none repeat scroll 0 0 #FFF6ED;
    border-color: #FAEFE3;
    border-style: solid;
    border-width: 0 1px;
    padding: 4px 9px;
    word-wrap: break-word;
	margin:0;
	overflow: hidden;
}

.groupicon {
    padding-right: 10px;
}

.pil {
    height: 48px;
    width: 48px;
}

.infobox .ex2 {
    background-position: 100% -5px;
}

.infobox .ex2 span {
    background-position: 0 -5px;
}

.plr {
    color: #666666;
    float: right;
    font: 12px/150% Arial;
}

a.a_rec_btn:hover, a.a_rec_btn:active {
    background-position: 0 -20px;
}

a.a_rec_btn {
    display: inline-block;
    height: 20px;
    letter-spacing: 4px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 26px;
    text-align: left;
    vertical-align: bottom;
    width: 46px;
}

a.a_rec_btn:link, a.a_rec_btn:visited, a.a_rec_btn:hover, a.a_rec_btn:active {
    background: url("bg_rec_btn.png") no-repeat scroll 0 0 transparent;
    color: #4F946E;
}

.mr5 {
    margin-right: 5px;
}

.color_gray, .color-gray {
    color: #666666;
}

.fright {
    float: right;
}
.bn-std1, a.bn-std1:hover, .bn-std1 span {
    background: url("bg_bn_red.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    overflow: hidden;
}

.bn-std1 span {
    background-position: 100% 0;
    color: #524942;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    overflow: hidden;
    padding: 0 10px;
}

/*邀请 by QiuJun*/
.invites{}
.invites h2{font-size:14px;font-weight:bold;margin:20px 0 20px 0;color:#555555}
.invites p{line-height:25px;color:#999999;margin:0;}

/*链接按钮*/
.subab{
background: #66873E;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 20px;
	font-size:16px;
   
}



/*table olt*/
.olt {
    margin-bottom: 3px;
    padding: 0;
    width: 100%;
	border: medium none;
    border-collapse: collapse;
    margin: 0;
	border-spacing: 0;
}
.olt td {
    border-bottom: 1px dashed #DDDDDD;
    padding: 3px 3px 3px 0;
}




/*2011-06-20*/
/*个人主页左侧*/
#db-usr-profile {
    height: 58px;
    left: 0;
    margin-bottom: 2em;
    position: relative;
    top: 0;
    width: 100%;
}
#db-usr-profile .pic {
    float: left;
    margin-right: 12px;
}
#db-usr-profile .info {
    float: left;
    padding-top: 2px;
}
#db-usr-profile h1 {
    padding: 0 0 4px;
}
#db-usr-profile .info ul li {
    display: inline;
    margin-right: 1em;
}
#review {
    margin-bottom: 27px;
}
/*个人主页右侧*/
#profile .userface {
    float: left;
    margin: 1px 10px 8px 0;
}

fieldset, img {
    border: 0 none;
}
.user-info {
    color: #666666;
}
.user-opt {
    clear: both;
    padding: 8px 0;
}

.user-group {
    color: #666666;
    display: none;
    margin: 0 0 10px;
}

.user-cs {
    background: url("icon-ok.png") no-repeat scroll left center transparent;
    display: inline-block;
    padding: 0 0 0 15px;
}
.user-rs {
    margin: 0 0 0 15px;
}

.user-group-arrow {
    background: url("icon-arrow-down-b.png") no-repeat scroll center center transparent;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin: 0 0 0 -2px;
    position: relative;
    top: 5px;
    width: 17px;
}

.user-opt .user-group-arrow {
    border-color: #FFF6EE;
}

.a-btn, .a-btn-add, .a-btn-add-light, .a-btn-opt {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.a-btn:link, .a-btn:active, .a-btn:hover, .a-btn:visited, .a-btn-opt:link, .a-btn-opt:active, .a-btn-opt:hover, .a-btn-opt:visited {
    background: none repeat scroll 0 0 #FFF3E7;
    border: 1px solid #E7D7CA;
    color: #797979;
    outline: 0 none;
    padding: 0 10px;
}
.a-btn-add:link, .a-btn-add:active, .a-btn-add:hover, .a-btn-add:visited {
    background: url("icon-add.png") no-repeat scroll 63px center #FFE6CE;
    border: 1px solid #D6B79D;
    color: #584E46;
    padding: 0 22px 0 10px;
}
.a-btn-opt:link, .a-btn-opt:active, .a-btn-opt:hover, .a-btn-opt:visited {
    background: url("icon-arrow-down.png") no-repeat scroll 38px center #FFF3E7;
    padding: 0 18px 0 10px;
}
.a-btn-add-light:link, .a-btn-add-light:active, .a-btn-add-light:hover, .a-btn-add-light:visited {
    background: url("icon-add.png") no-repeat scroll 10px center #FDF9F5;
    border: 1px solid #F1E5DC;
    color: #625850;
    padding: 0 10px 0 23px;
}
.more-opt {
    display: inline-block;
}
#divac {
    clear: both;
}
.sep-line {
    border-bottom: 1px solid #F5E9DB;
    clear: both;
    font-size: 0;
    height: 0;
    margin: 5px;
    overflow: hidden;
}
.user-intro {
    color: #666666;
    overflow: hidden;
    word-wrap: break-word;
}
.mbt {
    clear: both;
    margin: 0;
    padding: 0;
}
.mbtrmini {
    background: url("listdot.gif") no-repeat scroll 0 8px transparent;
    border-bottom: 1px dashed #DDDDDD;
    padding: 4px 0 4px 12px;
}
.quote {
    background: url("quotel.gif") no-repeat scroll left 4px transparent;
    margin: 8px 0 0 26px;
    overflow: hidden;
    padding: 0 24px 5px 15px;
    width: auto;
    word-wrap: break-word;
}
.quote span.inq {
    background: url("quoter.gif") no-repeat scroll right bottom transparent;
    color: #333333;
    display: inline-block;
    padding-right: 15px;
}
.indentrec {
    color: #333333;
    line-height: 1.6em;
    margin-left: 24px;
}
#event {
    margin-bottom: 10px;
}
.evt_short {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.actfromfri {
    line-height: 1.6em;
    padding: 0.6em 0;
}
.evt_short li {
    line-height: 1.6em;
}
#group {
    width: 100%;
}
/*小组*/
.ob {
    float: left;
    margin: 0 0 10px;
    text-align: center;
    width: 76px;
}
.ob dt {
    height: 50px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.ob dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.ob span {
    white-space: nowrap;
}

/*留言*/
.mbtl {
    float: left;
    margin: 8px 7px 0 0;
    padding: 0;
    width: 55px;
}
.mbtrdot {
    min-height: 55px;
    overflow: hidden;
    padding: 4px 0;
}


/**/
#db-timeline-hd {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 5px;
    padding-bottom: 10px;
	overflow: hidden;
}
#db-timeline-hd .menu-list {
    float: left;
    padding-top: 3px;
    width: 515px;
}
#miniblog .menu-list {
    width: auto;
}
#db-timeline-hd .menu-list li {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
}
#db-timeline-hd .menu-list li a {
    display: block;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    white-space: nowrap;
}
#db-timeline-hd .menu-list .on a {
    background: none repeat scroll 0 0 #83BF73;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    padding: 0 5px;
}

.mbtr {
    border-bottom: 1px solid #EEEEEE;
    margin: 5px 0;
    min-height: 55px;
    overflow: hidden;
    padding: 5px 0;
}

.bs li {
    border-bottom: 1px dashed #DDDDDD;
    margin: 0;
    overflow: hidden;
    padding: 4px 0;
}

.spacetopic{}
.spacetopic table{}
.spacetopic tr td{border-bottom:dashed 1px #DDDDDD;padding:5px 0;}