/*imbox*/
.imbox{}
.leftbar{}
.leftbar .bartitle{background:#dae9ef;padding:5px;}
.leftbar ul{}
.leftbar ul, .leftbar ul li{list-style: none;margin:0;padding:0;}
.leftbar ul li{line-height:23px;padding-left:10px;}

.msgbox{overflow:hidden;}
.msgbox ul, .msgbox ul li{list-style: none;margin:0;padding:0;}
.msgbox ul{}
.msgbox ul li{width:175px;float:left;line-height:23px;padding-left:10px;}
.mysend{background:#f5f8fa}

.system{overflow:hidden;}
.system ul, .system ul li{list-style: none;margin:0;padding:0;}
.system ul{}
.system ul li{line-height:23px;padding-left:10px;}

.sendbox{padding:0 20px 20px 20px;overflow:hidden;}
.sendbox p{}
.sendbox textarea{width:350px;height:50px;}

.boxabout{line-height:23px;padding:0 10px;}

.usermsg{overflow:hidden;}
.usermsg ul, .usermsg ul li{list-style: none;margin:0;padding:0;}
.usermsg ul{}
.usermsg ul li{line-height:23px;padding:0 10px;}


.newmsg{}
.newmsg ul, .newmsg ul li{list-style: none;margin:0;padding:0;}
.newmsg ul{}
.newmsg ul li{padding:5px 10px;}