
/**/
.clist{}
.clist ul{}
.clist ul li{border-bottom: 1px dashed  #cccccc;padding:10px 0}
.clist ul li img{margin:10px 20px 0 0;border:solid 1px #DDDDDD;}
.clist ul li h2{font-weight: normal;}
.clist ul li p{line-height: 20px;margin:5px 0 10px 0;}
.clist ul li span{color:#999999;}
.clist ul li span a{text-decoration: underline;}
.clist ul li .cate {color:#999999;}

.catelist{}
.catelist ul{}
.catelist ul li{font-size:12px;height:30px;line-height:30px; width:140px;}
.catelist .on{background:#999999;padding:5px 10px;color:#FFFFFF;}