
/**/
.clist{}
.clist ul{}
.clist ul li{border-bottom: 1px dashed #CCCCCC;}
.clist ul li img{margin-right:10px;}
.clist ul li h2{font-weight: bold;}
.clist ul li p{}
.clist ul li span{color:#999999;}

.cate{}
.cate ul{}
.cate ul li{font-size:14px;height:30px;line-height:30px;}
.cate .select{background:#DDDDDD;}