
.catelist{}
.catelist ul{}
.catelist ul li{font-size:12px;height:30px;line-height:30px; width:140px;}
.catelist .on{background:#999999;padding:5px 10px;color:#FFFFFF;}

.article_show_content{}
.article_show_content img{max-width: 100%;}

.article_show_content p{word-break: break-all;}