
/**/
.clist{}
.clist ul{}
.clist ul li{border-bottom: 1px solid #C2D5E3;}
.clist ul li img{margin-right:10px;border:solid 1px #DDDDDD;}
.clist ul li h2{font-weight: bold;}
.clist ul li p{line-height: 23px;}
.clist ul li span{color:#999999;}
.clist ul li span a{text-decoration: underline;}

.cate{}
.cate ul{}
.cate ul li{font-size:14px;height:30px;line-height:30px;}
.cate .select{background:#DDDDDD;}