body{margin:0;padding:0;color:#888;font-family: arial,helvetica,simhei,sans-serif;font-size:18px;}

ul,li{list-style:none;margin:0;padding:0;}

a{text-decoration:none;color:#666666;border:none;}

h2,h3,p{font-size:18px;font-weight:normal;margin:0;padding:0px;}

input[type="email"],input[type="password"],input[type="text"],textarea{width:100%;height:30px;line-height:30px;}

input[type="submit"]{
	width:100%;padding:20px 0;margin-top:10px;height:60px;
}

.btn{
	width:100%;padding:20px 0;margin-top:10px;display:block;
	text-align:center;
	background:#F0F0F0;
}

.inputw{
display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
}
.inputt{ display: block;
    padding: .8em;
    border: 1px solid #E2E2E3;
    background: #FFF;
    font: normal 16px/1 'SimHei';
    border-radius: 3px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    outline: none;}


.clear{clear:both;}

#wrapper {
	position:absolute; z-index:1;
	top:60px; bottom:0px; left:0;
	width:100%;
	overflow:auto;
}

#scroller {
	position:absolute; z-index:1;
	width:100%;
	padding:0;
}


/*头部*/
.header{height:50px;background:#49A5DE;width:100%;overflow:hidden;}
.header .logo{float:left;}
.header .logo a{height:50px;width:60px;background:url('logo.png') no-repeat 5px;display:block;}
.header .nav{float:left;height:50px;}
.header .nav ul{}
.header .nav ul li{float:left;}
.header .nav ul li a{color:#FFFFFF;height: 50px;
    line-height: 50px;
    padding: 0 10px;display:block;}
	
.header .nav ul .on{background:#1689D0;}


/*头部内容左右按钮*/
.header .left{float:left;width:60px;border-right:solid 1px #1689D0;}
.header .left a, .header .right a{color:#FFFFFF;height: 50px;
    line-height: 50px;
    padding: 0 10px;display:block;}
.header .right{float:right;width:60px;border-left:solid 1px #1689D0;}



.midder{}

/*推荐小组*/
.recommendgroup{}
.recommendgroup ul{overflow:hidden;border-bottom:solid 1px #DDDDDD;}
.recommendgroup ul li{float:left;padding:10px;}
.recommendgroup ul li a{display:block;}

/*commlist*/
.commlist{}
.commlist ul{}
.commlist ul a{display:block;}
.commlist ul a:hover{display:block;background:#F8F8F8;}
.commlist ul li{overflow:hidden;border-bottom:solid 1px #DDDDDD;}
.commlist ul li .photo{float:left;width:70px}
.commlist ul li .photo img{padding:10px;}
.commlist ul li .info{margin-left:70px;}
.commlist ul li .info h3{padding:10px 0;}
.commlist ul li .info .other{font-size:12px;color:#999999;padding-bottom:10px;}
.commlist ul li .info .other span{margin-right:20px;}

/*commform*/
.commform{padding:10px;}


/*帖子内容页*/
.topic{padding:5px;}
.topic .head{overflow:hidden;}
.topic .head .face{float:left;width:60px}
.topic .head .title{margin-left:60px;}
.topic .head .title h3{}
.topic .head .title .info{font-size:12px;color:#999999;}
.topic .head .title .info span{margin-right:10px;}

.topic .content{padding:10px 0;line-height:25px;}
.topic .content img{max-width:100%;}

/*!userdata*/
.userdata{text-align:center;}
.userdata .face{}
.userdata .username{}
.userdata .usermenu{}
.userdata .usermenu ul{}
.userdata .usermenu ul li{}
.userdata .usermenu ul li a{height:50px;line-height:50px;background:#F8F8F8;display:block;border-top:solid 1px #EAEAEA;}
.userdata .logout{margin-top:10px;}
.userdata .logout a{height:50px;line-height:50px;display:block;background:#F5F5F5;}

/*!group_show*/
.group_show{padding:10px;position:relative;overflow:hidden;}
.group_show .face{float:left;width:50px;}
.group_show .info{margin-left:60px;}
.group_show .info .title{}
.group_show .info .content{}
.group_show .join{position:absolute;top:10px;right:10px;}
.group_show .join a{float:left;height:25px;line-height:25px;color:#FFFFFF;background:#336699;font-size:12px;padding:0 10px;}