/* 
 *CSS Document  
 *BY QIUJUN 2011-06-29
 *标准基础样式表
 *头部header
 *中部midder
 *底部footer
 */
 
/*基本*/ 
body{ font-size:12px;font-family:Arial,Helvetica,sans-serif;margin:0 auto;color:#434343;background: url("bg-body.jpg") #F4F4F4;}
table {border-collapse:collapse;}
th,caption {font-weight:normal;font-style:normal;text-align:left;}
caption {font-weight:bold;}
ol,ul,li{list-style:none;margin:0;padding:0;}
a img {border:none}

form input[type='radio'] {
	vertical-align:text-bottom;
}

h1 {
    color: #494949;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
	padding:10px 0;
}

h2 {color: #555555;font-size: 14px;font-weight:normal;}
h2 span{font-size:12px;}

h1 a{color:#555555;}

input,textarea{border-color: #999999 #E1E1E1 #E1E1E1 #999999;border-style: solid;border-width: 1px; padding: 3px 2px;}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

/*链接/文字*/
a {color:#336699;text-decoration:none;}

/*按钮*/
.submit {
background-color: #3fa156;
border: 1px solid #528641;
color: #FFFFFF;
cursor: default;
display: inline-block;
padding: 3px 10px;
text-align: center;
cursor:pointer
}

/*字体大小*/
.f12{font-size:12px;}
.f14{font-size:14px;}

/*字间距*/
.line23{line-height:23px;}

/*浮动方向*/
.fl{float:left;}
.fr{float:right;}
 
/*结构*/
 
/*头部*/
.header{background:#3A81C0;border-bottom: 1px solid #3266A0;width:100%;overflow:hidden;}
.header .hc{width:960px;height:60px;margin:0 auto;overflow:hidden;}
.header .hc .left{float:left;margin:10px 0 0 0;color:#FFFFFF;}
.header .hc .right{color:#FFFFFF;float:right;margin:10px 0 0 0;width:280px;line-height:19px;}
.header .hc .right .fimg{border:solid 1px #3266A0;background:#FFFFFF;float:left;margin:5px 2px 0 0;padding:2px;}
.header .hc .right a{color:#FFFFFF;}

.header .hc .nav{float:left;padding:25px 0 0 20px;}
.header .hc .nav ul{overflow: hidden;}
.header .hc .nav ul li{font-size:14px;padding:0 10px;float:left;}

.header .hc .nav ul li a{color:#FFFFFF;}

/*APP导航*/
.appnav{width:960px;margin:0 auto;padding:0;overflow:hidden;}
.appnav ul{margin:0;padding:10px 0 0 0;}
.appnav ul li{float:left;font-size:14px;margin:0 5px 0 0;padding:5px 10px;}
.appnav .select{background:#333a40;}
.appnav .select a{color:#FFFFFF;}

/*中部*/
.midder{width:960px;margin:0 auto;padding:0;overflow:hidden;height:auto !important;min-height:400px;margin-top:10px}
.midder .mc{width:960px;padding:10px 0;overflow:hidden;display: block;}
.midder .mc .cleft{float: left;padding-right: 40px;width: 590px;}
.midder .mc .cright{float: right;width: 310px;}

/*底部*/
.footer{color:#999999;padding:10px 0;text-align:center;}
.softname {color:#336699;font-weight:bold;}

/*tab切换导航*/
.tabnav {
height:35px;
padding:0px;
}
.tabnav ul {
margin:0;
overflow:hidden;
padding:0;
background: url("bg-line.gif") repeat-x scroll 0 bottom transparent;
}
.tabnav ul li {
float:left;
font-weight: bold;
height: 30px;
line-height: 22px;
margin-right: 20px;
padding-right: 20px;
}

.tabnav ul li a{color:#333333}

.tabnav .select {
background:url("bg-lined.gif") repeat-x scroll 0 bottom transparent;
}
.tabnav .select a {
font-weight:bold;
color:#336699;
}

/*分页*/
.page {margin:0;text-align: left;padding:5px;}
.page a {
	border:#DDDDDD 1px solid; padding:2px 5px;margin: 2px; color: #336699;text-decoration: none
}
.page a:hover {
	border: #3266A0 1px solid;
}
.page a:active {
	border: #3266A0 1px solid; 
}
.page .current {
	color:#FFFFFF;background:#3A81C0;border-bottom: 1px solid #3266A0; padding:2px 5px;font-weight: bold; margin: 2px;
}
.page .disabled {
	border: #eee 1px solid; padding:2px 5px; margin: 2px;color: #ddd;
}

/*tag*/
.tags {
	margin:10px 0;
    line-height: 18px;
}
.tags a.post-tag {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #4B8DC5;
    font-size: 12px;
    line-height: 2.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
    white-space: nowrap;
}
.tags a.post-tag:hover{
 background-color: #3E6D8E;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    color: #E0EAF1;
    text-decoration: none;
}
.tags .item-multiplier {
    color: #444444;
    font-size: 120%;
    font-weight: bold;
    margin-right: 4px;
}

/*comment评论列表*/
.comment{width: 100%;overflow:hidden;}
.comment li {margin: 0 0 20px 0px;overflow:hidden;}
.comment li .user-face {float: left;height: 48px;overflow: hidden;width: 48px;}
.comment li .reply-doc {float: right;width: 520px;overflow: hidden;}
.comment li .reply-doc p img{max-width:450px;}
.comment li .reply-doc h4 {font-weight:normal;font-size:12px;height: 22px;line-height: 22px;margin: 0 0 15px 0px;background: #F0F0F0;color: #666666;display: block;overflow: hidden;}
.comment li .reply-doc p {margin: 0 0 25px;overflow: hidden;word-wrap: break-word;line-height:23px;}
.comment li .reply-doc .recomment {background: #F8F8F8;border: 1px dashed #DDDDDD;color: #666666;font-size: 12px;padding: 10px;}
.comment li .group_banned {text-align: right;}
