body {
	font-family: '微软雅黑',Helvetica,Arial,Verdana,sans-serif,宋体;
	margin: 0 auto;
	color: #434343;
	background: #f5f8fa;
	font-size: 14px;
}

a{color:#515151}
a:hover{text-decoration: none;color:#49a5de}

.wto{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

.btn-fat{padding-left:30px;padding-right:30px;}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0
}



/***字体大小***/
.fs12 {
    font-size: 12px
}

.fs13{font-size: 13px;}

.fs14 {
    font-size: 14px
}

.fs16{
    font-size: 16px;
}

.fs18{
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs24{
    font-size: 24px;
}

.fs36{font-size: 36px;}

.fw300{font-weight: 300}
.fw400{font-weight: 400}


/**处理富文本内容**/
.common-content table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.common-content table td, .article_show_content table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
}
.common-content table th {
	border-bottom: 2px solid #ccc;
	text-align: center;
}


blockquote {
	display: block;
	border-left: 8px solid #d0e5f2;
	padding: 5px 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 100%;
	background-color: #f1f1f1;
}
blockquote p{margin-bottom: 0px;}

code {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #f1f1f1;
	border-radius: 3px;
	padding: 3px 5px;
	margin: 0 3px;
}





/*头部导航*/
.header {
	background: #49a5de;
	width: 100%;
	border-radius: 0px;
	margin:0;
}


.ts-dropdown{display:none;position:absolute;right:0;top:105%;z-index:9999;width:100%;min-width:110px;background: #fff;border:1px solid #ccc;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);}

.ts-dropdown p{padding:5px 10px;margin:0;}
.ts-dropdown .ts-dropdown-list{list-style: none;margin:0;padding:0;}
.ts-dropdown .ts-dropdown-list li{position:relative;height:42px;line-height:42px;padding:0 10px !important;border-top: 1px solid #f0f0f0;cursor: pointer;text-align: left;font-size: 14px;}
.ts-dropdown .ts-dropdown-list li:first-child{border-top: none;}
.ts-dropdown .ts-dropdown-list li:hover, .ts-dropdown .ts-dropdown-list li.active{background-color: #f0f0f0;}
.ts-dropdown .ts-dropdown-list li a{display:block;color: #666;}


.ts-top-nav{position:relative;float: left;}
.ts-user-nav{position:relative;float: right;}

.ts-top-nav{margin:0;border: none;}
.ts-top-nav .collapse{visibility: visible;}

.ts-top-nav > nav > ul > li > a{padding:16px;color: #fff;}
.ts-top-nav > nav > ul > li > a.active{background: #49a5de;font-weight: bold;}
.ts-top-nav > nav > ul > li > a:hover, .ts-top-nav > nav > ul > li > a:focus{background: #49a5de;}



.ts-top-nav ul li:hover .ts-dropdown{display: block;}
.ts-top-nav .ts-dropdown{display:none;top:100%;min-width:300px;border-top: none;border-radius: 0 0 4px 4px;}
.ts-top-nav .ts-dropdown .more{font-size: 12px;}
.ts-top-nav .ts-dropdown .close{display: none;}
.ts-top-nav .ts-dropdown ul li{padding:5px 10px;border-top:1px solid #f5f5f5;}
.ts-top-nav .ts-dropdown ul li:first-child{border-top: none;}
.ts-top-nav .ts-dropdown ul li:hover{background: #f5faff;}
.ts-top-nav .ts-dropdown ul li:last-child{border-radius: 0 0 4px 4px;}



.ts-user-nav:hover .dropdown-list{display: block;}

.ts-user-nav .ts-user-nav-dropdown{display:block;}
.ts-user-nav .ts-user-nav-dropdown .badge{position: absolute;top: -8px;right: -8px;}
.ts-user-nav .dropdown-list{top:100%;width:122px;border-top:none;border-radius: 0 0 4px 4px;}
.ts-user-nav .dropdown-list ul li a i{vertical-align:-2px;margin-right: 5px;font-size: 16px;}

.dropzone {
	float:left;
	width: 200px;
	height: 200px;
	border: 2px dashed #ccc;
	color: #ccc;
	line-height: 200px;
	text-align: center;
}

.dropzone.dragover {
	border-color: #000000;
	color: #000000;
}



.appnav {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #fff;
	margin-bottom: 20px;
    box-shadow: 0px 1px 5px #ccc;
}


.appnav{overflow: hidden;}
.appnav a {
	float: left;
	margin: 0 5px 0 0;
	padding: 10px 10px;
	position: relative;
    border-bottom: solid 2px #fff;
}
.appnav .on {
	border-bottom: solid 2px #49a5de;
}
.appnav a:hover{border-bottom: solid 2px #49a5de;}



.footer {
padding: 30px 0 15px 0;
background-color: #2a2c31;
text-align:center;
margin-top: 20px;
}


.softname {
	font-weight: bold
}

.tabnav {
	height: 50px;
	padding: 0
}

.tabnav ul, .tabnav ul li{list-style: none;margin:0;padding:0;}
.tabnav ul {
	background: #fafafa;
	border-bottom: 1px solid #e9e9e9;
	display: block;
	font-size: 12px;
	height: 26px;
	padding: 5px 0 0 0;
	width: 100%
}

.tabnav ul li {
	float: left;
	line-height: 26px;
	margin-bottom: -1px;
	margin-left: 10px;
	padding: 0 10px
}

.tabnav .select {
	background: #fff;
	border: solid 1px #ddd;
	border-bottom: 0;
	font-weight:bold;
	position: relative
}
.tabnav .select a{color:#666}



.comment {
	width: 100%;
	overflow: hidden
}

.comment ul, .comment ul li{list-style: none;margin:0;padding:0;}

.comment ul li {
	margin: 0 0 20px 0;
	overflow: hidden;
	border-bottom: solid 1px #f0f0f0;
	padding-top: 10px;
}

.comment li .user-face {
	float: left;
	height: 48px;
	overflow: hidden;
	width: 48px
}

.comment li .reply-doc {
	margin-left: 48px;
	overflow: hidden
}

.comment li .reply-doc img{max-width:100%;}

.comment li .reply-doc h4 {
	font-weight: normal;
	font-size: 12px;
	padding: 5px;
	margin: 0 0 15px 0;
	color: #999;
	display: block;
	overflow: hidden;
	position: relative;
}

.comment li .reply-doc h4 i {
	position: absolute;
	top: 5px;
	right: 5px
}

.comment li .reply-doc p {
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
	line-height: 23px
}

.comment li .reply-doc .recomment {
	background: #f8f8f8;
	border: 1px dashed #ddd;
	color: #666;
	font-size: 12px;
	padding: 10px
}

.comment li .group_banned {
	text-align: right
}

/*!commentform*/
.commentform{}
.commentform .authcode{float:left;}
.commentform .submit{float:right;}



.attach {
	border-left: solid 3px #8394b2;
	font-size: 12px;
	background: #eef2f7;
	padding: 0;
	padding-left: 10px
}

.attach .delete {
	float: right;
	padding-right: 10px
}

.facebox {
	overflow: hidden
}

.facebox .face {
	float: left
}

.facebox .info {
	margin-left: 60px
}

.facebox .info h3 {
	margin: 0 0 5px 0
}

.facebox .other {
	border-top: solid 1px #eee;
	margin-top: 10px
}

.facebox ul, .facebox ul li {list-style: none;margin:0;padding:0;}
.facebox .other li {
	float: left;
	padding: 10px 15px;
	font-size: 12px;
	color:#999
}

.facebox .fmore {
	border-top: solid 1px #eee;
	margin-top: 10px;
	padding: 0 10px;
	line-height: 30px;
	font-size: 12px;
	color:#999
}



.br {
	border-right: solid 1px #eee
}


.leftmenu {
	float: left;
	width: 200px
}

.leftmenu h1 {
	color: #4ba733;
	font-size: 24px;
	margin: 35px 0 15px 40px
}

.leftmenu ul {
	margin-left: 15px
}

.leftmenu ul .current {
	background-color: #fff;
	border-color: #ecebeb #fff #ecebeb #ecebeb;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	left: -1px;
	width: 133px
}

.leftmenu ul li {
	color: #4ba733;
	font-size: 16px;
	padding: 15px 25px;
	position: relative
}

.leftbg {
	background: #f0f0f0
}

.leftbox {
	margin-left: 200px;
	background: #fff;
	min-height: 800px;
	overflow: hidden
}

.pd5 {
	padding: 5px
}

.pd05 {
	padding: 0 5px
}

.pd10 {
	padding: 10px
}

.pd100 {
	padding: 10px 0
}

.pd010 {
	padding: 0 10px
}

.pd20 {
	padding: 20px
}

.pd020 {
	padding: 0 20px
}

.pd1020 {
	padding: 10px 20px
}

.pd50{padding:50px}

.mb20{margin-bottom:20px;}

.tac {
	text-align: center
}

.tar {
	text-align: right
}

.bgc {
	background: #fafafa
}

.ht10 {
	height: 10px
}

.wd590 {
	width: 590px
}

.wd100 {
	width: 100%
}



.c9 {
	color: #999
}



.lh25 {
	line-height: 25px
}

.lh30 {
	line-height: 30px
}

.mh400 {
	min-height: 400px
}

.mh500 {
	min-height: 500px
}

.mw100{max-width: 100%;}


.bsc{box-shadow: 0px 1px 5px #ccc;}


.commlist ul, .commlist ul li{list-style: none;margin:0;padding:0;}
.commlist ul li {
	padding: 8px 0;
	border-bottom: dashed 1px #ddd;
    white-space: nowrap;  overflow: hidden;
	font-size: 14px;
}

.facelist ul, .facelist ul li{list-style: none;margin:0;padding:0;}
.facelist ul li {
	float: left;
	min-height: 95px;
	width: 68px;
	text-align: center;
	overflow: hidden
}


.facelist .username{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding:5px 0;
}

.facelist .username a{
    color:#999999;
    font-size: 12px;
}

.of {
	overflow: hidden
}




/*我的社区*/
.my{background: #F6F6F6;overflow:hidden;border: 1px solid #E6E6E6;
    border-radius: 5px;margin-bottom:20px;}

.my_left{}


.my_left .user_info{overflow:hidden;}
.my_left .user_info .photo{float:left;}
.my_left .user_info .info{float: left;margin-left: 8px;}
.my_left .user_info .info .username{ }
.my_left .user_info .info .rolename{}

.user-level {
    background: none repeat scroll 0 0 #009966;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 0 3px;
}

.my_left .stats-mod {
    margin-bottom: 20px;
    margin-left: 10px;
	overflow: hidden;
}

.user-stats{list-style: none;margin:0;padding:0;}
.user-stats li {
    display: inline;
    line-height: 15px;
    list-style: none;margin:0;padding:0;
}

.user-stats a strong {
    display: block;
}

.user-stats a {
    color: #666666;
    float: left;
    padding: 7px 15px 7px 0;
    text-decoration: none;
}

.my_left .menu-mod ul, .my_left .menu-mod ul li{list-style: none;margin:0;padding:0;}

.my_left .menu-mod .menus {

}

.my_left .menu-mod .menus li {
    position: relative;
}
.my_left .menu-mod .menus li a {
    color: #555555;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    padding-left: 10px;
}

.my_left .menu-mod .menus li .active , .my_left .menu-mod .menus li .active:hover{
	background: #DAE0E5;
}

.my_left .menu-mod .menus li a:hover{
	background: #f8f9fa;
}


.my_right{margin-left:168px;min-height:600px;background:#fff;overflow:hidden;}
.my_right .rc{padding:10px;}

/*公告*/
.gonggao{background:url('trumpet.gif') no-repeat;padding:0 0 10px 30px;}




.pubs_home{background: url('bg-2.jpg') no-repeat;background-size: cover;}
.pubs_home_login{background: #000000;padding:30px 20px;margin-top:50px;margin-bottom: 20px;}
.pubs_home_footer{text-align: right;width: 100%;}

.br0{border-radius: 0px;}

/**标题不换行截断**/
.title-cut{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}


.card{margin-bottom: 20px;}
.card-header{}

.breadcrumb{font-size: 13px;}



/**针对wangeditor编辑器**/
.wangeditor_toolbar{border: 1px solid #ccc;}
.wangeditor_text{height:100px;border: 1px solid #ccc;}


/**tsalert**/
#tsalert{position: fixed;top:0;right:0;left:0;width: 100%;}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.navbar-brand{display: none}
	.navbar-collapse{
		position: absolute;
		overflow: hidden;
		width: 120px;
		background: #49A5DE;
		text-align: center;
		z-index:9999999;
		top:60px;
		left:0px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar-brand{display: none}
	.navbar-collapse{
		position: absolute;
		overflow: hidden;
		width: 120px;
		background: #49A5DE;
		text-align: center;
		z-index:9999999;
		top:60px;
		left:0px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
