body {
	font-family: Verdana,sans-serif,宋体;
	font-size: 12px;
	margin: 0 auto;
	color: #434343;
	background: #fff
}

table {
	border-collapse: collapse
}

th,caption {
	font-weight: normal;
	font-style: normal;
	text-align: left
}

caption {
	font-weight: bold
}

ol,ul,li {
	list-style: none;
	margin: 0;
	padding: 0
}

a img {
	border: 0
}

form input[type='radio'] {
	vertical-align: text-bottom
}

h1 {
	color: #494949;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 10px
}

h1 a {
	color: #555
}

h2 {
	color: #555;
	font-size: 14px
}

h2 span {
	font-size: 12px;
	font-weight: normal
}

h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 14px
}

pre {
	background: #f8f8f8;
	border: 1px dashed #CCC;
	padding: 5px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word
}

blockquote {
	background: #f8f8f8
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0
}

table td {
	padding: 5px
}

input,select,textarea {
	border: 1px solid #ccc;
	line-height: 1.62;
	margin-top: 5px;
	padding: 3px
}

input:focus {
	border-color: gray
}

a {
	color: #369;
	text-decoration: none
}

input, textarea, select, .uneditable-input {
    border: 1px solid #CCCCCC;
    color: #555555;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    height: auto;
    /*width: auto;*/
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
    border-radius: 0 0 0 0;
    cursor: pointer;
    height: auto;
    line-height: normal;
    margin: 3px 0;
    padding: 0;
    width: auto;
}

select, input[type="file"] {
    height: 28px;
    line-height: 28px;
}

.btn {

	background-color: #f5f5f5;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0;
	padding: 4px 10px;
	text-align: center;
	vertical-align: middle
}

.btn-large {
	
	font-size: 16px;
	line-height: normal;
	padding: 9px 20px
}

.btn-success {
	background-color: #5bb75b;
	color: #fff;
	
}

.btn-mini {
	font-size: 11px;
	line-height: 14px;
	padding: 2px 6px
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: middle
}

.f12 {
	font-size: 12px
}

.f14 {
	font-size: 14px
}

.line23 {
	line-height: 23px
}

.fl {
	float: left
}

.fr {
	float: right
}

.alert {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	color: #c09853;
	margin-bottom: 18px;
	padding: 8px 35px 8px 14px;
}

.alert .close {
	line-height: 18px;
	position: relative;
	right: -21px;
	top: -2px
}

.header {
	background: #49a5de;
	width: 100%;
	overflow: hidden
}

.header .hc {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	overflow: hidden
}

.header .hc .left {
	float: left;
	color: #fff;
	width: 190px;
	height: 40px
}

.header .hc .left .logo {
	float: left;
	background: url('logo.gif') no-repeat;
	width: 190px;
	height: 40px
}

.header .hc .nav {
	float: left
}

.header .hc .nav ul {
	overflow: hidden
}

.header .hc .nav ul li {
	font-size: 14px;
	padding: 0 10px;
	float: left;
	height: 38px;
	line-height: 38px
}

.header .hc .nav ul li a {
	color: #fff
}

.header .hc .search {
	float: right
}

.header .hc .search .search_input {
	float: left;
	background: url('search.png');
	height: 14px;
	margin-top: 8px;
	overflow: hidden;
	padding: 5px 5px 5px 10px;
	width: 142px
}

.header .hc .search .search_input input {
	background-color: transparent;
	border: medium none;
	height: 14px;
	line-height: 14px;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: text-top;
	width: 142px;
	font-size: 12px;
	color: #666;
	border: 0 none;
	box-shadow: none
}

.header .hc .search a {
	background: url("search.png") no-repeat scroll -157px -48px transparent;
	cursor: pointer;
	display: block;
	float: left;
	height: 24px;
	margin: 8px 10px 0 0;
	text-indent: -9999em;
	width: 27px
}

.header .hc .right {
	color: #fff;
	float: right;
	width: 210px;
	line-height: 19px
}

.header .hc .right .fimg {
	border: solid 1px #3266a0;
	background: #fff;
	float: left;
	margin: 5px 2px 0 0;
	padding: 2px
}

.header .hc .right a {
	color: #fff
}

.header .hc .right .msgnum {
	background: #f00;
	padding: 0 3px;
	border-radius: 5px 5px 5px 5px
}

.header .hc .right .sms {
	background: url('icon.png');
	background-repeat: no-repeat;
	background-position: -694px -50px;
	width: 18px;
	height: 16px;
	position: absolute;
	display: inline-block;
	margin-right: 12px;
	margin-top: 1px;
	margin-left: 25px;
	margin-top: -1px;
	cursor: pointer
}

.header .hc .right .sms em {
	position: absolute;
	right: -5px;
	top: -3px;
	background-color: #fe6600;
	color: white;
	padding: 1px 0;
	font-style: normal;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 12px;
	line-height: 12px;
	height: 13px;
	display: inline-block;
	-webkit-text-size-adjust: none;
	padding: 0 3px;
	cursor: pointer
}

.header .hc .right .setting {
	background: url('icon.png');
	background-repeat: no-repeat;
	background-position: -694px -34px;
	width: 18px;
	height: 16px;
	position: absolute;
	display: inline-block;
	margin-top: 1px;
	cursor: pointer
}

.appnav {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background: #fafafa;
	border-bottom: solid 1px #eee
}

.appnav ul {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	overflow: hidden
}

.appnav ul li {
	float: left;
	font-size: 14px;
	margin: 0 5px 0 0;
	padding: 5px 10px;
	position: relative
}

.appnav .select {
	background: #333a40
}

.appnav .select a {
	color: #fff
}

.midder {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	height: auto!important;
	min-height: 400px;
	margin-top: 10px
}

.midder .mc {
	overflow: hidden;
	display: block
}

.midder .mc .cleft {
	float: left;
	width: 640px
}

.midder .mc .cright {
	float: right;
	width: 310px
}

.footer {
	color: #999;
	padding: 10px 0;
	text-align: center;
	background: #f0f0f0
}

.footer p{}

.softname {
	color: #369;
	font-weight: bold
}

.tabnav {
	height: 50px;
	padding: 0
}

.tabnav ul {
	background: #f5f5f5;
	border-bottom: 1px solid #e9e9e9;
	display: block;
	font-size: 12px;
	height: 26px;
	padding: 5px 0 0 0;
	width: 100%
}

.tabnav ul li {
	float: left;
	line-height: 26px;
	margin-bottom: -1px;
	margin-left: 10px;
	padding: 0 10px
}

.tabnav .select {
	background: #fff;
	border: solid 1px #ddd;
	border-bottom: 0;
	position: relative
}

.page {
	margin: 0;
	text-align: center;
	padding: 5px
}

.page a {
	border: #ddd 1px solid;
	padding: 2px 5px;
	margin: 2px;
	color: #369;
	text-decoration: none
}

.page a:hover {
	border: #3266a0 1px solid
}

.page a:active {
	border: #3266a0 1px solid
}

.page .current {
	color: #fff;
	background: #3a81c0;
	border-bottom: 1px solid #3266a0;
	padding: 2px 5px;
	font-weight: bold;
	margin: 2px
}

.page .disabled {
	border: #eee 1px solid;
	padding: 2px 5px;
	margin: 2px;
	color: #ddd
}

.tags a {
	float: left;
	background: #eee;
	color: #000;
	margin: 6px 6px 0 0;
	padding: 2px 8px;
	white-space: nowrap;
	display: block
}

.tags a:hover {
	background: #369;
	color: #fff
}

.comment {
	width: 100%;
	overflow: hidden
}

.comment li {
	margin: 0 0 20px 0;
	overflow: hidden
}

.comment li .user-face {
	float: left;
	height: 48px;
	overflow: hidden;
	width: 48px
}

.comment li .reply-doc {
	margin-left: 60px;
	overflow: hidden
}

.comment li .reply-doc h4 {
	font-weight: normal;
	font-size: 12px;
	padding: 5px;
	margin: 0 0 15px 0;
	background: #f5f5f5;
	color: #999;
	display: block;
	overflow: hidden;
	position: relative;
	border-bottom: solid 1px #eee
}

.comment li .reply-doc h4 i {
	position: absolute;
	top: 5px;
	right: 5px
}

.comment li .reply-doc p {
	margin: 0;
	overflow: hidden;
	word-wrap: break-word;
	line-height: 23px
}

.comment li .reply-doc .recomment {
	background: #f8f8f8;
	border: 1px dashed #ddd;
	color: #666;
	font-size: 12px;
	padding: 10px
}

.comment li .group_banned {
	text-align: right
}

/*!commentform*/
.commentform{overflow:hidden;}
.commentform .authcode{float:left;}
.commentform .submit{float:right;}

.top-wp {
	border-bottom: 1px solid #cee1ee;
	margin-bottom: 10px
}

.top-wp:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

.tabs {
	height: 33px;
	overflow: hidden;
	width: 100%;
	clear: both;
	margin-bottom: -1px
}

.tabs li {
	float: left
}

.tabs li a {
	background-color: #cee1ee;
	border-color: #cee1ee #cee1ee #cee1ee;
	border-style: solid;
	border-width: 1px;
	float: left;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	margin-top: 5px;
	padding: 0 10px;
	text-align: center;
	margin-right: 10px
}

.tabs li .current {
	background: #fff;
	border-bottom: solid 1px #fff
}

.attach {
	border-left: solid 3px #8394b2;
	font-size: 12px;
	background: #eef2f7;
	padding: 0;
	padding-left: 10px
}

.attach .delete {
	float: right;
	padding-right: 10px
}

.facebox {
	overflow: hidden
}

.facebox .face {
	float: left
}

.facebox .info {
	margin-left: 60px
}

.facebox .info h3 {
	margin: 0 0 5px 0
}

.facebox .other {
	border-top: solid 1px #eee;
	margin-top: 10px
}

.facebox .other li {
	float: left;
	padding: 10px 15px
}

.facebox .fmore {
	border-top: solid 1px #eee;
	margin-top: 10px;
	padding: 0 10px;
	line-height: 30px
}

.fs12 {
	font-size: 12px
}

.fs14 {
	font-size: 14px
}

.fs20 {
	font-size: 20px;
	color: #333
}

.br {
	border-right: solid 1px #eee
}

.bbox {
	border: solid 1px #ddd;
	margin-bottom: 10px;
	overflow: hidden;
	background: #fff
}

.bbox .bd {
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid #eee
}

.bbox h2 {
	font-weight: bold;
	font-size: 12px;
	border-bottom: solid 1px #eee;
	background: #f5f5f5;
	padding: 8px 5px;
	margin: 0;
	position: relative
}

.bbox h2 .right {
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 5px;
	right: 10px
}

.bbox .bc {
	padding: 10px;
	overflow: hidden;
	clear: both
}

.rbox {
	float: right;
	width: 250px;
	border-left: solid 1px #ddd
}

.rbox h2 {
	font-weight: bold;
	font-size: 12px;
	border-bottom: solid 1px #eee;
	background: #f5f5f5;
	padding: 8px 5px;
	margin: 0
}

.leftmenu {
	float: left;
	width: 200px
}

.leftmenu h1 {
	color: #4ba733;
	font-size: 24px;
	margin: 35px 0 15px 40px
}

.leftmenu ul {
	margin-left: 15px
}

.leftmenu ul .current {
	background-color: #fff;
	border-color: #ecebeb #fff #ecebeb #ecebeb;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	left: -1px;
	width: 133px
}

.leftmenu ul li {
	color: #4ba733;
	font-size: 16px;
	padding: 15px 25px;
	position: relative
}

.leftbg {
	background: #f0f0f0
}

.leftbox {
	margin-left: 200px;
	background: #fff;
	min-height: 800px;
	overflow: hidden
}

.pd5 {
	padding: 5px
}

.pd05 {
	padding: 0 5px
}

.pd10 {
	padding: 10px
}

.pd100 {
	padding: 10px 0
}

.pd010 {
	padding: 0 10px
}

.pd20 {
	padding: 20px
}

.pd020 {
	padding: 0 20px
}

.pd1020 {
	padding: 10px 20px
}

.tac {
	text-align: center
}

.tar {
	text-align: right
}

.bgc {
	background: #fafafa
}

.ht10 {
	height: 10px
}

.wd590 {
	width: 590px
}

.wd100 {
	width: 100%
}

.c9 {
	color: #999
}

.lh25 {
	line-height: 25px
}

.lh30 {
	line-height: 30px
}

.mh400 {
	min-height: 400px
}

.mh500 {
	min-height: 500px
}

.commlist ul li {
	padding: 8px;
	border-bottom: dashed 1px #ddd
}

.facelist ul li {
	float: left;
	min-height: 95px;
	width: 70px;
	text-align: center;
	overflow: hidden
}

.of {
	overflow: hidden
}

/*!feed*/
.feed .mbtl {
    float: left;
    margin: 8px 7px 0 0;
    padding: 0;
    width: 55px;
}
.feed .mbtr {
    border-bottom: 1px solid #EEEEEE;
    margin: 5px 0;
    min-height: 55px;
    overflow: hidden;
    padding: 5px 0;
}
.feed .pl {
    color: #666666;
    line-height: 1.5;
}
.feed .broadsmr {
    color: #999999;
    padding: 5px 24px;
}
.feed .indentrec {
    color: #333333;
    line-height: 1.6em;
    margin-left: 24px;
}

.feed .quote {
    background: url("quotel.gif") no-repeat scroll left 4px transparent;
    margin: 8px 0 0 26px;
    overflow: hidden;
    padding: 0 24px 5px 15px;
    width: auto;
    word-wrap: break-word;
	line-height:23px;

}
.feed .quote .inq {
    background: url("quoter.gif") no-repeat scroll right bottom transparent;
	color:#999999;
    display: inline-block;
    padding-right: 15px;
}

.feed .broadimg {
    border: 1px solid #DDDDDD;
    float: right;
    margin-left: 14px;
}

.feed .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.feed .indentrec {
    color: #333333;
    line-height: 1.6em;
    margin-left: 24px;
}
.feed .timeline-album {
    float: left;
    margin: 8px 12px 8px 0;
}



.commtable th {
	width: 150px;
	text-align: right;
	vertical-align: top;
	padding: 8px 5px
}

.commtable td {
	padding: 5px
}

.commtable td input[type='text'], .commtable td input[type='password']{
	min-width:200px;
}

/*!validform CSS*/.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px
}

.Validform_right {
	color: #71b83d;
	padding-left: 20px;
	background: url(right.png) no-repeat left center
}

.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	background: url(error.png) no-repeat left center
}

.Validform_loading {
	padding-left: 20px;
	background: url(onLoad.gif) no-repeat left center
}

.Validform_error {
	background-color: #ffe7e7
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3,Direction=135,Color='#999999')
}

#Validform_msg .iframe {
	position: absolute;
	left: 0;
	top: -1px;
	z-index: -1
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #000
}

#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited {
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0;
	color: #fff;
	text-decoration: none
}

#Validform_msg a.Validform_close:hover {
	color: #cc0
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #000;
	border-top: 0;
	text-align: left
}