/**框架CSS**/

/*基本*/ 
body{ font-size:12px;font-family:Arial;margin:0 auto;color:#434343;}
table {border-collapse:collapse;}
th,caption {font-weight:normal;font-style:normal;text-align:left;}
caption {font-weight:bold;}
ol,ul,li{list-style:none;margin:0;padding:0;}
a img {border:none}
h1,h2,h3,h4,h5,h6,input,button,textarea {}

h2 {
    color: #006600;
    font: 14px/150% Arial;
    margin: 0 0 12px;
}

h1 {
    color: #494949;
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 15px;
    word-wrap: break-word;
}

/*链接/文字*/
a {color:#66873E;text-decoration:none;}
.Abutton{background:#66873E;color:#FFF;padding:2px 5px;}

/*中部*/
.midder{width:960px;margin:0 auto;overflow:hidden;}

.midder .midd{margin:30px 0 30px 100px;}
.midder .midd h2{padding:0;margin:0}
.midder .midd form{padding:0 5px;margin:0px;}

.uinput{width:150px;}

/*中部*/
.midder{width:960px;margin:0 auto;padding:0;position:relative;overflow:hidden;height:auto !important;min-height:400px;}
.midder table{} 
.midder table tr td{}

.midder table tr.old td{font-weight:bold;background:none repeat scroll 0 0 #F6F6F6;}
.midder table tr.odd td{background:none repeat scroll 0 0 #FBFBFB;}

.tb_list{padding:10px 0;}
.tb_list table{}
.tb_list table td{border-bottom:1px dashed #CCCCCC;height:30px;line-height:30px;}


/*内容*/

.qi_c_c{width:950px;overflow:hidden;display: block;}
.qi_c_cleft{float: left;padding-right: 40px;width: 590px;}
.qi_c_cright{float: right;width: 310px;}
.qi_c_cright .indent{ margin-bottom: 25px;line-height: 20px;}

/*豆瓣切换*/
.zbar {
    background: url("zbar.gif") no-repeat scroll 0 0 transparent;
    margin-bottom: 21px;
	display: block;
	overflow: hidden;
}

.zbar div {
    background: url("zbar.gif") no-repeat scroll right top transparent;
    float: left;
    margin-left: 5px;
    padding-left: 2px;
}

.zbar span.now {
    background: url("wztab.gif") no-repeat scroll right top transparent;
    display: block;
    float: left;
    margin: 0 5px;
    padding: 0 10px 0 0;
}
.zbar span.now span {
    background: url("wztab.gif") no-repeat scroll 0 0 transparent;
    display: block;
    padding: 6px 1px 5px 11px;
}
.zbar a {
    display: block;
    float: left;
    line-height: 14px;
    margin: 5px 5px 1px;
    padding: 3px 5px 2px;
    text-decoration: none;
}

/*table olt*/
.olt {
    margin-bottom: 3px;
    padding: 0;
    width: 100%;
	border: medium none;
    border-collapse: collapse;
    margin: 0;
	border-spacing: 0;
}
.olt td {
    border-bottom: 1px dashed #DDDDDD;
    padding: 3px 3px 3px 0;
}
/*右侧会员列表*/
.obu {
    display: inline;
    float: left;
    margin: 0 0 10px;
    width: 76px;
}
.obu dt {
    height: 50px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.obu dd {
    height: 55px;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
.pl {
    color: #666666;
    font: 12px/150% Arial;
	padding:10px 0;
}

.pl2 {
    color: #666666;
    font: 14px/150% Arial;
}

/*表格*/
.biaoge{padding:30px 0 0 100px;}
.biaoge table{width:100%;}
.biaoge table th{font-weight:bold;}
.biaoge table td{padding:0px 0 10px 0;}

.clear{clear:both;font-size: 0;line-height: 0;}
/*小组简介介绍*/

.article {
    padding-right: 40px;
    width: 590px;
	overflow:hidden;
}

.infobox {
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
	padding:0;
}

.infobox .ex2, .infobox .ex1 {
    background: url("info_bg.png") no-repeat scroll 100% 0 transparent;
    clear: both;
    font-size: 0;
    height: 5px;
    line-height: 0;
    margin-left: 5px;
	padding:0;
}

.infobox .ex2 span, .infobox .ex1 span {
    background: url("info_bg.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 5px;
    margin-left: -5px;
    overflow: hidden;
    position: relative;
    width: 5px;
}

.infobox .bd {
    background: none repeat scroll 0 0 #FFF6ED;
    border-color: #FAEFE3;
    border-style: solid;
    border-width: 0 1px;
    padding: 4px 9px;
    word-wrap: break-word;
	margin:0;
	overflow: hidden;
}

.groupicon {
    padding-right: 10px;
}

.pil {
    height: 48px;
    width: 48px;
}

.infobox .ex2 {
    background-position: 100% -5px;
}

.infobox .ex2 span {
    background-position: 0 -5px;
}

.plr {
    color: #666666;
    float: right;
    font: 12px/150% Arial;
}

a.a_rec_btn:hover, a.a_rec_btn:active {
    background-position: 0 -20px;
}

a.a_rec_btn {
    display: inline-block;
    height: 20px;
    letter-spacing: 4px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 26px;
    text-align: left;
    vertical-align: bottom;
    width: 46px;
}

a.a_rec_btn:link, a.a_rec_btn:visited, a.a_rec_btn:hover, a.a_rec_btn:active {
    background: url("bg_rec_btn.png") no-repeat scroll 0 0 transparent;
    color: #4F946E;
}

.mr5 {
    margin-right: 5px;
}

.color_gray, .color-gray {
    color: #666666;
}

.fright {
    float: right;
}
.bn-std1, a.bn-std1:hover, .bn-std1 span {
    background: url("bg_bn_red.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 20px;
    overflow: hidden;
}

.bn-std1 span {
    background-position: 100% 0;
    color: #524942;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    overflow: hidden;
    padding: 0 10px;
}

/*imbox*/
.imbox{}
.leftbar{}
.leftbar .bartitle{background:#dae9ef;padding:5px;}
.leftbar ul{}
.leftbar ul li{line-height:23px;padding-left:10px;}

.msgbox{}
.msgbox ul{}
.msgbox ul li{line-height:23px;padding-left:10px;}
.mysend{background:#f5f8fa}

.sendbox{}
.sendbox p{padding-left:10px;}
.sendbox textarea{width:350px;height:50px;}

.boxabout{line-height:23px;padding:0 10px;}