.location_list{}
.location_list ul{}
.location_list ul li{float:left;padding:20px;width:420px;}
.location_list ul li .photo{float:left;width:100px;}
.location_list ul li .info{margin-left:100px;}
.location_list ul li .info .title{font-size:14px;}
.location_list ul li .info .content{line-height:25px;font-size:12px;color:#999}


.location{}
.location .photo{float:left;width:100px;}
.location .info{margin-left:100px;}
.location .info h1{padding:0 10px;}
.location .info p{padding:10px;}


.photo{}
.photo ul{}
.photo ul li{float:left;}


.weilist{}
.weilist  li {
    border-bottom: 1px dashed #DDDDDD;
    margin: 0 0 5px;
    padding: 0 0 8px;
}
.weilist li .portrait {
    float: left;
    padding-top: 3px;
    width: 45px;
}
.weilist  li .portrait img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 32px;
    padding: 1px;
    width: 32px;
}
.weilist li .body {
    float: left;
    font-size: 9pt;
    overflow: hidden;
    width: 230px;
}
.weilist li .user a {
    color: #6CABE1;
}

.weilist li .log {
    color: #666666;
    word-break: break-all;
}
.weilist li .time {
    color: #9A9A9A;
    display: block;
    margin: 5px 0 0;
}
.weilist li .time a {
    color: #9A9A9A;
    text-decoration: none;
}

/*帖子列表*/
.topic_list{overflow:hidden;}
.topic_list ul{overflow:hidden;}
.topic_list ul li{overflow:hidden;padding:15px 0;display: block;border-bottom: 1px dashed #999999;}

.topic_list ul li .other{background: none repeat scroll 0 0 #F8F8F8;
    border-left: 3px solid #EEEEEE;
    margin-left: 38px;
    margin-top: 5px;
    padding: 5px;}
.topic_list ul li .other p{margin:0px;padding:5px 0;}

.topic_list .userimg{float:left;width:38px;overflow:hidden;}

.topic_list .topic_title{margin-left:40px;overflow:hidden;}

.topic_list .topic_title .title a{color:#343434;font-size:14px;}

.topic_list .topic_info{overflow: hidden;font-size:12px;color:#999999;}

.rank {
	background: none repeat scroll 0 0 #BBBBBB;
    height: 15px;
    line-height: 15px;
    margin: 0 0 0 5px;
    padding: 0 3px;
	border-radius:5px 5px 5px 5px;
}